.chat-main
  .right-header
    .right-header__button
      = link_to "Edit","/groups/#{@group.id}/edit"
  .left-header
    .chat-main__title
      = @group.name
    .chat-main__member
      - @group.users.each do |user|
        = user.name
  .chat-main__contents
    - @messages.each do |message|
      %ul.chat-main__name
        %li.chat-main__name
          = message.user.name
          = message.created_at.strftime('%Y/%m/%d %H:%M')
          %p.chat-main__messages
            = message.body
            = image_tag message.image.to_s
  = form_for([@group, @message], html:{class: "chat-group-form__input"}) do |f|
    .chat-main__send
      = f.text_field :body, placeholder: "type a message", class: "chat-input"
      .main-icon
        = f.label :image do
          %i.fa.fa-file-image-o
            = f.file_field :image , class: 'file'
      .chat-send
        = f.submit "Send" , class: 'btn'

/ <i class="fa fa-file-image-o" aria-hidden="true"></i>
/         = f.label :image
/         = image_tag @user.image.thumb.url if @user.image?
/         = f.file_field :image
/         = f.hidden_field :image_cache
