.chat-side
  .chat-side__user
    = current_user.name
  %ul.chat-side__icons
    %li.chat-side__icon
      = link_to edit_user_path(current_user),class: "symbol" do
        %i.fa.fa-cog
    %li.chat-side__icon
      = link_to new_group_path(current_user),class: "symbol" do
        %i.fa.fa-pencil-square-o
  .chat-side__contents
    - @groups.each do |group|
      = link_to "/groups/#{group.id}/messages" do
        %li.chat-side__group
          %p
            = group.name
        %p.chat-side__message
          = group.message_present
